
  table {
    width: 100%;
    max-width: 50rem;
    margin-top: 20px;
    border: 1px solid grey;
  }
    tr:nth-child(even) th {
      color: #ccc;
      font-weight: normal;
    }
    
    th,
    td {
      padding: 0.5rem 1rem;
    }
    
    th {
      font-weight: normal;
      border-top: thin dotted #ccc;
      border-right: thin dotted #ccc;;
    }
    
    td {
      font-size: 0.8rem;
      font-weight: bold;
      line-height: 1.4;
      border-radius: 0.2rem;
      transition: opacity 0.3s ease;
    }
    
    td > span {
      font-size: 0.8em;
      font-weight: normal;
      display: block;
      width: 100%;
    }
  
  .stage-green {background-color: #9CCC65;color: white;}
  .gridWidth{
      width:70%
  }
  .gridtimeWidth{
    width:30%
}
.d-flex{
  display: flex;
}

.divTable {

  overflow: -moz-scrollbars-vertical;
  overflow-x: scroll;
}
table >tbody >tr>td:first-child{
  border-top: thin dotted #ccc;
}